<style>
<!--@import url(https://fonts.googleapis.com/css?family=Roboto:300);
div.container {
    width: 100%;
    border: 1px solid red;
}
header, footer {
    padding-bottom: 2%;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    border: 2px solid yellow
}
nav {
    float: top;
    max-width: 100%;
    margin: 0;
    border: 3px solid green;
    /*padding: 1em;*/
    overflow:hidden;
    background-color: #333;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}
ul {
background-color: none;
text-dectoration: none;
color: black;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul a {
	display: block;
	text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.active {
    background-color: #5b794e;
}
section {
    margin-left: 0%;
    border-left: 3px solid purple;
    padding: 1em;
    overflow: hidden;
}
-->
</style>
<!--<link rel="stylesheet" href="css/styles.css">-->
