@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}

div.container {
	width: 100%;
	border: 0px solid red;
	/*padding:0px;*/
}

/*header, footer {
    margin: 0;
    padding-bottom: 0%;
    color: black;
    background-color: white;
    text-align: center;
    border: 0px solid yellow;
    padding:0px;
}*/

nav {
	display:inline-block;
	padding:0px;
	/*max-width:100%;*/
    border: 0px solid green;
    overflow:hidden;
    background-color: #333;
}

nav ul a {
    text-decoration: none;
}

ol {
    color:#000;
    background-color: #;
    float:left;
	margin:3%;
    list-style-type: none;
    padding: 0px 0px;
    overflow: hidden;
    border: px solid red;	
}

ol a:hover:not(.active) {
    background-color: #099;
    color:aliceblue;
}

ol a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

ul {
	display:inline-block;
    color:#000;
    background-color: #333;
    float:left;
    margin:0%;
    padding:0%;
    list-style-type: none;
    /*margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right:auto;*/
    overflow: hidden;
    border: px solid pink;

}

ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    float: left;
}

li a {
 	border: px solid orange;
    display: block;
    color: white;
	/*padding-left: auto;
    padding-right:auto;*/
    =
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    text-decoration: none;
}

/*li a:hover:not(.active) {
    background-color: #111;
}*/

ul a:hover:not(.active) {
    background-color: #93D08B;
}

/*li a:hover {
    background-color: #111;
}*/

.active {
    background-color: #5b794e;
}

section {
    padding: 5%;
    overflow: hidden;
}

body {
background: #fffff;
font-family: "Roboto", sans-serif;
/*margin-left: auto;
margin-right: auto;*/
/*display: left;
justify-content: left;*/
border: 0px solid blue;
}





